<% theme = cookies[:theme] || 'light' %>
<!DOCTYPE html>
<html lang="en" class="text-zinc-950 antialiased lg:bg-gray-100 dark:bg-gray-900 dark:text-white dark:lg:bg-gray-900<%= theme == 'dark' ? ' dark' : '' %>">
  <head>
    <title>Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f9fafb" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#111827" media="(prefers-color-scheme: dark)">
    <% if theme == 'dark' %>
      <meta name="theme-color" content="#111827">
    <% else %>
      <meta name="theme-color" content="#f9fafb">
    <% end %>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Manage" />
    <link rel="manifest" href="/site.webmanifest" />
    <%= csrf_meta_tags %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
