<!DOCTYPE html>
<html lang="en" class="text-zinc-950 antialiased lg:bg-zinc-100 dark:bg-zinc-900 dark:text-white dark:lg:bg-zinc-950">
  <head>
    <title>Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
